.map {
  width: 100%;
  min-height: 80vh;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

.map-container {
  position: relative;
}

.balloon-container {
  width: 100%;
  display: flex;
  flex-direction: column;

  h2 {
    margin: 5px;
  }
  div {
    text-align: center;
    a {
      width: 100%;
      color: rgb(0, 0, 0);
      margin: 0 auto;
      text-decoration: none;
    }
  }
}
