.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #282c34;
  height: 100vh;
  color: white;
  a {
    color: white;
  }

  .main {
    background-image: url(./assets/images/map.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
